# Terraform variables
# TF_VAR_name=my-resource
# TF_VAR_environment=development

# AWS credentials (if using AWS provider)
{%- if use_aws_provider in ['yes', 'true', True] %}
# AWS_ACCESS_KEY_ID=xxx
# AWS_SECRET_ACCESS_KEY=xxx
# AWS_REGION={{ aws_region }}
{%- endif %}

# Terraform logging
# TF_LOG=DEBUG
# TF_LOG_PATH=terraform.log
