output "id" {
  description = "The ID of the null resource."
  value       = null_resource.this.id
}

output "name" {
  description = "The name of the resource."
  value       = var.name
}

output "tags" {
  description = "The tags applied to the resource."
  value       = var.tags
}
