{
  "name": "{{ module_name }}",
  "version": "1.0.0",
  "description": "{{ module_description }}",
  "author": "{{ author_name }}",
  "license": "Apache-2.0",
  "devDependencies": {
    "@commitlint/config-conventional": "^18.4.4",
    "@semantic-release/changelog": "^6.0.3",
    "@semantic-release/git": "^10.0.1",
    "@semantic-release/github": "^9.2.1",
    "commitlint": "^18.4.4",
    "semantic-release": "^23.0.2"
  }
}
