{
  "name": "{{ module_name }}",
  "version": "1.0.0",
  "description": "{{ module_description }}",
  "author": "{{ author_name }}",
  "license": "Apache-2.0",
  "devDependencies": {
    "@commitlint/cli": "^18.4.4",
    "@commitlint/config-conventional": "^18.4.4",
    "husky": "^8.0.3"
  },
  "scripts": {
    "prepare": "husky install"
  }
}
