# {{ module_name }}

{{ module_description }}

## Usage

```hcl
module "{{ module_name | replace('-', '_') }}" {
  source  = "{{ _folder_name }}"
  version = "~> 1.0"

  name = "example"
  tags = {
    Environment = "dev"
    Terraform   = "true"
  }
}
```
{% if use_examples %}
## Examples

- [Complete example](examples/complete)
{% endif %}
{%- if use_terraform_docs %}
<!-- BEGIN_TF_DOCS -->
<!-- END_TF_DOCS -->
{% endif %}
## Authors

Module is maintained by {{ author_name }}.

## License

Apache-2.0 Licensed. See [LICENSE](LICENSE).
