terraform {
  required_version = ">= {{ terraform_min_version }}"

  required_providers {
    null = {
      source  = "hashicorp/null"
      version = "~> 3.0"
    }
    {%- if 'aws' in providers %}
    aws = {
      source  = "hashicorp/aws"
      version = "{{ aws_provider_version }}"
    }
    {%- endif %}
    {%- if 'awscc' in providers %}
    awscc = {
      source  = "hashicorp/awscc"
      version = "{{ awscc_provider_version }}"
    }
    {%- endif %}
  }
}
