include:
  - component: gitlab.com/to-be-continuous/terraform/gitlab-ci-terraform@9.1.0
    inputs:
      image: hashicorp/terraform:$TERRAFORM_VERSION
      gitlab-backend-disabled: true
      fmt-enabled: true
      validate-enabled: true
{%- if not use_tflint %}
      tflint-disabled: true
{%- endif %}
      trivy-disabled: false
      trivy-image: docker.io/aquasec/trivy
{%- if use_terraform_docs %}
      docs-enabled: true
      docs-image: quay.io/terraform-docs/terraform-docs:edge
{%- endif %}
{% if use_semantic_release %}
release:
  stage: .post
  image: node:lts
  before_script:
    - npm ci
  script:
    - npx semantic-release
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  needs: []
{%- endif %}

{%- if use_tflint %}
tf-tflint:
  needs:
    - find-tools-versions
{%- endif %}

tf-fmt:
  needs:
    - find-tools-versions

tf-validate:
  needs:
    - find-tools-versions

{%- if use_trivy %}
tf-trivy:
  needs:
    - find-tools-versions
{%- endif %}

find-tools-versions:
  stage: .pre
  image:
    name: jdxcode/mise
    entrypoint: ["sh", "-c"]
  script: |
    for tools in $(mise ls -l --no-header -q); do
      tool_name=$(echo $tools | awk '{print toupper($1)}')
      version=$(echo $tools | awk '{print $2}')
      echo "${tool_name}_VERSION=$version" >> tools.env ; done
  artifacts:
    reports:
      dotenv: tools.env
