find-tools-versions:
  stage: .pre
  image:
    name: jdxcode/mise
    entrypoint: ["sh", "-c"]
  script: |
    for tools in $(mise ls -l --no-header -q); do
      tool_name=$(echo $tools | awk '{print toupper($1)}')
      version=$(echo $tools | awk '{print $2}')
      echo "${tool_name}_VERSION=$version" >> tools.env ; done
  artifacts:
    reports:
      dotenv: tools.env

trigger-terraform:
  stage: test
  needs:
    - job: find-tools-versions
      artifacts: true
  variables:
    TERRAFORM_VERSION: $TERRAFORM_VERSION
  trigger:
    include: .gitlab-ci-terraform.yml
    strategy: depend
{% if use_semantic_release %}
release:
  stage: .post
  image: node:lts
  before_script:
    - npm ci
  script:
    - npx semantic-release
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  needs: []
{%- endif %}
