stages:
  - lint
  - release

variables:
  FF_USE_FASTZIP: "true"
  ARTIFACT_COMPRESSION_LEVEL: "fastest"

lint:
  stage: lint
  image: alpine:latest
  before_script:
    - apk add --no-cache terraform tflint
  script:
    - terraform fmt -check -recursive
    - terraform init -backend=false
    - terraform validate
    - tflint --init
    - tflint
  only:
    - merge_requests
    - main

release:
  stage: release
  image: node:lts
  before_script:
    - npm ci
  script:
    - npx semantic-release
  only:
    - main
  needs:
    - lint
