include:
  - component: gitlab.com/to-be-continuous/terraform/gitlab-ci-terraform@9.1.0
    inputs:
      image: hashicorp/terraform:$TERRAFORM_VERSION
      gitlab-backend-disabled: true
      fmt-enabled: true
      validate-enabled: true
{%- if not use_tflint %}
      tflint-disabled: true
{%- endif %}
      trivy-disabled: false
      trivy-image: docker.io/aquasec/trivy
{%- if use_terraform_docs %}
      docs-enabled: true
      docs-image: quay.io/terraform-docs/terraform-docs:edge
{%- endif %}
