terraform {
  required_version = ">= {{ terraform_min_version }}"

  required_providers {
    null = {
      source  = "hashicorp/null"
      version = "~> 3.0"
    }
    {%- if use_aws_provider in ['yes', 'true', True] %}
    aws = {
      source  = "hashicorp/aws"
      version = "{{ aws_provider_version }}"
    }
    {%- endif %}
    {%- if use_awscc_provider in ['yes', 'true', True] %}
    awscc = {
      source  = "hashicorp/awscc"
      version = "{{ awscc_provider_version }}"
    }
    {%- endif %}
  }
}
